header, nav {
    background-color: #1ecbe1;
    overflow: hidden;
    position: relative;
    height: 80px;
    box-sizing: border-box;
}

.title {
    display: block;
    float: left;
    height: 80px;
}

.title a {
    display: block;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    line-height: 80px;
}

.title a:hover {
    color: #e1f5fe;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
}

nav li {
    display: inline-table;
    vertical-align: top;
}

nav a {
    display: table-cell;
    box-sizing: border-box;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 200;
    line-height: 80px;
    padding: 0px 10px;
}

nav a:hover, nav a:active {
    background-color: #1c008b;
    color: white;
}

#our-services {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

#dog-boarding, #cat-boarding {
    padding-top: 10px;
    display: inline-block;
    box-sizing: content-box;
    width: 45%;
}

#dog-boarding a, #cat-boarding a {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: blue;
    color: white;
    border-radius: 5px;
    height: 30px;
}

#dog-boarding {
    padding-left: 30px;
}

#cat-boarding {
    padding-right: 30px;
    float: right;
}