html {
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url(./pic/review_bg.jpg);
    text-size-adjust: 200%;
}



header, nav, footer {
    background-color: #1ecbe1;
    overflow: hidden;
    position: relative;
    height: 80px;
    box-sizing: border-box;
}

.title {
    display: block;
    float: left;
    height: 80px;
}

.title a, .business-name {
    display: block;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    line-height: 80px;
    text-decoration: none;
}

.title a:hover, .business-name:hover, .foot a:hover {
    color: #e1f5fe;
    text-decoration-line: underline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
}

nav li {
    display: inline-table;
    vertical-align: top;
}

nav a {
    display: table-cell;
    box-sizing: border-box;
    color: #073036;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    line-height: 80px;
    padding: 0 10px;
}

nav a:hover, nav a:active {
    background-color: #1c008b;
    color: white;
}

/* Floating Containers */
.float-container {
border: 3px solid black;
padding:10px;
margin:auto;
height: 400px
}

.float-child {
    width:40%;
    float:left;
    padding: 0px;
    border: 2px solid black;
    height:370px;
}

/* .float-child-two {
    width:57%;
    float:left;
    padding: 0px;
    border: 2px solid black;
} */

/* Portal Navigation Items */
.portal-nav-item{
    display:flex;
    align-items: center;
    justify-content: center;
    height:32.4%;
    width:100%;
    text-align: center;
    background-color: lightgray;
    border:2px solid black;
}

.portal-nav-item a{
    text-decoration: none;
    color: black;
}

/* Pet Information Elements */
.pet-container{
    text-align: center;
    background-color: lightgray;
    width:300px;
    height:350px;
    border-width: 15px;
    border-color: black;
    float: left;
    margin-right: auto;
    margin-left: auto;
}


.pet-container img{
    width:90%;
    height:70%;
    align-self: center;
}

.pet-container a{
    text-align: center;
    width: 100%;
}

ul.manage-pet{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* position: absolute; */
    right: 0;
}

ul.manage-pet li{
    display: inline-table;
    vertical-align: top;
}

ul.manage-pet a{
    display: table-cell;
    vertical-align: bottom;
    font-weight: 200;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    line-height: 80px;
    padding: 0px 10px;
    width:100%;
}

/* Index Element*/
.index-header .slide-image{
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(./pic/index_pic.jpg);
    height: 500px !important; 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.index-header .slide-text{
    display: inline-block;
    margin: 0 auto;
    padding-top: 5%;
    opacity: 1;
}

.index-header .slide-text h1{
    display: block;
    padding-top: 3%;
    font-size: 70px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 4px rgb(0 0 0 / 50%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.index-header .slide-text p{
    font-size: 18px;
    margin-top: -10px;
}

.index-header .btn{
    display: inline-block;
    background-color: rgb(85, 193, 255);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 150px;
    border-radius: 25px;
}

.index-header .btn :hover{
    opacity: 0.5;
}

.index-header .btn a{
    color: black;
    font-weight: 400;
    font-size: 18px;
    display: inline-block;
    padding-top: 10%;
    text-decoration: none;
}

.index-header hr{
    border: 1px dashed #000; 
    margin: auto; 
    margin-top: 5%; 
    margin-bottom: 5%;  
}

.index-content{
    text-align: center;
    padding-top: 10px;  
}

.index-content h2{
    font-size: 45px;
}

.review-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.review-content div{
    display: inline-block;
    background-color: rgba(252, 240, 226, 0.5);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1%;
    width: 100%;
    height: 100%;
    min-height: 400px;
    display: table-cell;
}

.review-content p{
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

.review-content h3::before{
    content: "\27A4";
    margin-right: 6px;
}

.review-content h3{
    float: right;
}

/* services */
.service-content > .header {
    display: inline-block;
    background-image: url(pic/service_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    height: 350px;
    width: 100%;
}

.service-content > .header h1 {
    display: block;
    padding-top: 3%;
    font-size: 70px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 4px rgb(0 0 0 / 50%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.service-content > .header > .nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    height: 25px;
    width: 150px;
    font-size: 18px;
    padding: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.service-content > .header > .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.service-content h1 {
    text-align: center;
}

#our-services {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}

#dog-boarding, #cat-boarding {
    margin-top: 10px;
    display: inline-block;
    height: 200px;
    width: 45%;
}

#dog-boarding a, #cat-boarding a {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: rgb(85, 193, 255);
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: black;
    border-radius: 5px;
    height: 30px;
}

#dog-boarding a:hover, #dog-boarding a:active, #cat-boarding a:hover, #cat-boarding a:active {
    opacity: 0.5;
}

#dog-boarding {
    padding-left: 30px;
}

#cat-boarding {
    padding-right: 30px;
    float: right;
}

/* footer */
footer {
    background-color: #073036;
    margin-top: 30px;
    padding-top: 30px;
    height: 120px;
    bottom: 0;
}

footer > .business-name {
    font-size: 40px;
    line-height: 60px;
}

footer > .contact {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 5px;
}

footer > .contact li {
    color: white;
    padding: 0 0;
}

footer > .foot {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    left: 5px;
}

footer > .foot li {
    display: inline;
}

footer > .foot a {
    display: inline-block;
    box-sizing: content-box;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
}

footer > .booking-button {
    display: block;
    text-decoration: none;
    height: 30px;
    width: 200px;
    text-align: center;
    background-color: #D4F4DD;
    border-radius: 25px;
    font-size: 20px;
    color: black;
    position: absolute;
    right: 0;
    bottom: 10px;
}

.booking-button:hover {
    background-color: #AEEABF;
    text-decoration-line: underline;
    color: gray;
}

/* About US*/
.about-header .slide-image{
    background: linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.5)), url(./pic/about_pic.jpg);
    height: 350px !important; 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.about-header .slide-text{
    display: inline-block;
    margin: 0 auto;
    padding-top: 3%;
    opacity: 1;
}

.about-header .slide-text h1{
    font-size: 70px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 4px rgb(0 0 0 / 50%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-header .about-navi{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-header .about-navi div{
    display: inline-block;
    background: rgba(0, 0, 0, 0.25);
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1%;
    height: 25px;
    width: 150px;
    text-align: center;
}

.about-header .about-navi a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.about-content{
    text-align: center;
    padding-left: 6%;
    padding-right: 6%;
}

.about-content .parallel{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-content .parallel div{
    margin-left: 2%;
    margin-right: 2%;
}

.about-content ul{
    list-style: none;
}

.about-content h1::before, #dog-boarding h1::before, #cat-boarding h1::before {
    content: "\1F43E";
}

.about-content h1::after, #dog-boarding h1::after, #cat-boarding h1::after {
    content: "\1F43E";
}

/* Locations */
.Locations-content > .header {
    display: inline-block;
    background-image: url(pic/service_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    height: 350px;
    width: 100%;
}

.Locations-content > .header h1 {
    display: block;
    padding-top: 3%;
    font-size: 70px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 4px rgb(0 0 0 / 50%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.Locations-content > .header > .nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    height: 25px;
    width: 150px;
    font-size: 18px;
    padding: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Locations-content > .header > .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    video {
        width: 100%;
        height: auto;
    }

    footer {
        height: 320px;
    }

    footer > .foot li {
        display: table;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 0 20vw;
    }

    footer > .foot a {
        display: table-cell;
        padding: 5px 0;
    }

    footer > .booking-button {
        margin: 0 33vw;
    }

    .btn {
        padding: 0.8em 0.3em !important;
        display: inline-block;
    }
}