.body-container {
min-height: 100%;
box-sizing: border-box;
}

.page-header {
background-color: #1ecbe1;
overflow: hidden;
}

.page-header .container {
position: relative;
height: 80px;
box-sizing: border-box;
}

.page-header .title {
float: left;
top: 0;
bottom: 0;
display: inline-table;
}

.page-header .title a {
display: inline-block;
color: white;
padding: 0 10px;
display: table-cell;
vertical-align: bottom;
text-transform: uppercase;
font-weight: bold;
font-size: 50px;
line-height: 80px;
text-decoration: none;
}

.page-header .title a:hover {
color: #E1F5FE;
text-decoration-line: underline;
}

/* Navigation elements */
ul.page-nav {
list-style-type: none;
margin: 0;
padding: 0;
position: absolute;
right: 0;
}

ul.page-nav li {
display: inline-table;
vertical-align: top;
/* color: white */
}

ul.page-nav a {
display: table-cell;
vertical-align: bottom;
font-weight: 200;
text-decoration: none;
color: white;
box-sizing: border-box;
line-height: 80px;
padding: 0px 10px;
}

ul.page-nav a:hover,
ul.page-nav a.active {
background-color: #1c008b;
color: white;
}

/* Floating Containers */
.float-container {
border: 3px solid black;
padding:10px;
margin:auto;
height: 400px
}

.float-child {
    width:40%;
    float:left;
    padding: 0px;
    border: 2px solid black;
    height:370px;
}

.float-child-two {
    width:57%;
    float:left;
    padding: 0px;
    border: 2px solid black;
}

/* Portal Navigation Items */
.portal-nav-item{
    display:flex;
    align-items: center;
    justify-content: center;
    height:32.4%;
    width:100%;
    text-align: center;
    background-color: lightgray;
    border:2px solid black;
}

.portal-nav-item a{
    text-decoration: none;
    color: black;
}

/* Pet Information Elements */
.pet-container{
    text-align: center;
    background-color: lightgray;
    width:300px;
    height:350px;
    border-width: 15px;
    border-color: black;
    float:left;
    margin: 10px;
}


.pet-container img{
    width:90%;
    height:70%;
    align-self: center;
}

.pet-container a{
    text-align: center;
    width:100%;
}

ul.manage-pet{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* position: absolute; */
    right: 0;
}

ul.manage-pet li{
    display: inline-table;
    vertical-align: top;
}

ul.manage-pet a{
    display: table-cell;
    vertical-align: bottom;
    font-weight: 200;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    line-height: 80px;
    padding: 0px 10px;
    width:100%;
}

/* Index Element*/
.slide-image{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(./pic/index_pic.jpg);
    height: 500px !important; 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.slide-text{
    display: inline-block;
    margin: 0 auto;
    padding-top: 5%;
    opacity: 1;
}

.slide-text h1{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.slide-text p{
    font-size: 18px;
    margin-top: -10px;
}

.btn{
    display: inline-block;
    background-color: rgb(85, 193, 255);
    margin-left: 30px;
    margin-right: 30px;
    height: 50px;
    width: 150px;
    border-radius: 25px;
}

.btn :hover{
    opacity: 0.5;
}

.btn a{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: inline-block;
    padding-top: 10%;
    text-decoration: none;
}

hr{
    border: 1px dashed #000; 
    margin: auto; 
    margin-top: 5%; 
    margin-bottom: 5%;  
}